/* ======================================
   AGENDA SECTION
   ====================================== */
body {
  margin: 0;
  min-height: 100vh;

  background-image: url("../images/fond.png");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}

h2 {
  margin: 0;
}

.jour {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.agenda-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Carte principale : colonne qui commence en haut */
.agenda-card {
  border-radius: 30px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: stretch;
  min-height: 84px; 
  gap: 70px;
}

#agenda1 {
  background-image: url(../images/agenda1.png);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
}

#agenda2 {
  background-image: url(../images/agenda2.png);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}

#agenda3 {
  background-image: url(../images/agenda3.png);
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
}

#agenda1 .agenda-name,
#agenda1 .agenda-time,
#agenda1 .agenda-location,
#agenda2 .agenda-name,
#agenda2 .agenda-time,
#agenda2 .agenda-location,
#agenda3 .agenda-name,
#agenda3 .agenda-time,
#agenda3 .agenda-location {
  color: white;
}

.agenda-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 12px;
}

/* titre : fixé en haut */
.agenda-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  align-self: flex-start; 
}

/* heure/date : à droite */
.agenda-time {
  font-size: 14px;
  color: var(--color-text);
  margin: 0;
  text-align: right;
  white-space: nowrap; 
}

/* Bas de la carte */
.agenda-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 4px;
  flex-wrap: nowrap;
}

.agenda-location {
  font-size: 14px;
}

/* avatars superposés */
.agenda-friends {
  display: flex;
  align-items: center;
}

.agenda-friends img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid var(--color-sous-title);
  margin-left: -8px;
  object-fit: cover;
}
