/* ======================================
   ANNONCE SECTION
   ====================================== */
body {
  margin: 0;
  min-height: 100vh;

  background-image: url("../images/fond.png");
  background-repeat: no-repeat;      /* ne se répète pas */
  background-size: cover;             /* s’adapte à l’écran */
  background-position: center;        /* centrée */
  background-attachment: fixed;       /* reste fixe au scroll */
}

.header-annonce {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  padding: 8px 0;
  position: relative;
}

/* flèche à gauche */
.header-annonce a img {
  display: block;
}

/* la date au centre */
.header-date {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.annonces {
  margin: 40px 0px;
}

/* Annnonce container */
.annonce1, .annonce2 {
  background: var(--color-btn-3-bg);
  padding: 16px;
  border-radius: 12px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.annonce2 {
  background: var(--color-btn-2-bg);
}

/* Ligne du haut */
.annonce-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Photo de profil */
.annonce-pp {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

/* Nom + pseudo */
.annonce-user {
  flex-grow: 1;
  margin-left: 12px;
}

.annonce-user h3 {
  margin: 0;
  font-size: 1.1rem;
}

.annonce-pseudo {
  margin: 2px 0 0 0;
  font-size: 0.9rem;
}

/* Description */
.annonce-description {
  margin: 0;
  font-size: 0.95rem;
}

/* Footer : date + bouton */
.annonce-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.annonce-date {
  font-size: 0.85rem;
  margin: 0;
}

/* Bouton répondre */
.annonce-repondre {
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
}

.btn_annonces {
  display: flex;
  position: fixed;
  gap: 30px;
  bottom: 120px;
}

.btn_recherche, .btn_ecrire {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 30px 10px 10px;
  background-color: var(--color-bg);
  border-radius: 20px;
}

.btn_ecrire {
  padding-right: 100px;
}

.btn_annonces p{
  margin: 0;
}

.message1 {
  display: flex;
  margin-top: 40px;
  padding: 16px;
  align-items: center;
  gap: 30px;
}

.message1 p{
  color: var(--color-sous-title);
}