/* ======================================
   FOOTER FIXE
   ====================================== */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--color-footer);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 5px var(--color-shadow);
}

.footer label {
  flex: 1;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.footer a {
  flex: 1;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  color: var(--color-text);
  transition: background-color 0.2s;
  border-top: 2px solid transparent; /* pour effet actif */
}

.footer a:hover {
  background-color: var(--color-footer-btn-hover);
}

.footer a.active {
  border-top: 2px solid var(--color-btn-primary);
  font-weight: bold;
}