/* ======================================
   POPUP OVERLAY
   ====================================== */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  z-index: 20000;
}

.popup-box {
  background: #ffffff;
  border-radius: 20px;
  width: 80%;
  max-width: 360px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.066);
}

.popup-box h2 {
  color: var(--color-title);
  margin: 1rem 0;
  font-size: 20px;
  font-family: sans-serif;
  color: black;

}

.popup-box p {
  font-size: 16px;
  color: var(--color-text);
  margin-bottom: 1.5rem;
}

.popupCloseBtn {
  width: 100%;
  border: 1px solid grey;
  padding: 1rem 0.2rem;
  color: #007AFF;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: white;
}

/* ======================================
   MAP SECTION
   ====================================== */
.map-content {
  margin: 0;
  flex: 1;
  overflow-y: auto;
  padding: 0; /* espace pour header/footer */
  scrollbar-width: none; /* pour Firefox */
  -ms-overflow-style: none; /* pour Internet Explorer et Edge */
}

.carte-app {
  width: 100%;
  height: 100%;
}

.leaflet-control-zoom {
  display: none !important;
}

/* ======================================
   POPUP DE RECHERCHE SECTION
   ====================================== */

.btn-main {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  cursor: pointer;
  z-index: 1000;
}

.search-popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70%;
  background: #fff;
  border-radius: 18px 18px 0 0;
  box-shadow: 0 -4px 20px rgba(0,0,0,0.2);
  transform: translateY(100%);
  transition: transform 0.35s ease;
  padding: 20px;
  z-index: 2000;
}

.search-popup.open {
  transform: translateY(0);
}

.search-popup-content {
  height: 100%;
  overflow-y: auto;
}

.search-popup h2 {
  margin-top: 0;
  color: #6366f1;
}

.search-popup input,
.search-popup select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 18px;
}

.tags span {
  background: #eef2ff;
  color: #6366f1;
  padding: 6px 12px;
  border-radius: 14px;
  cursor: pointer;
}

.search-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.2);
  z-index: 1999; /* juste en dessous de la popup */
  display: none; /* caché par défaut */
}
.search-popup-overlay.active {
  display: block;
}