/* ======================================
   MAP SECTION
   ====================================== */
.map-content {
  margin: 0;
  flex: 1;
  overflow-y: auto;
  padding: 0; /* espace pour header/footer */
  scrollbar-width: none; /* pour Firefox */
  -ms-overflow-style: none; /* pour Internet Explorer et Edge */
}

.carte-app {
  width: 100%;
  height: 100%;
}

.leaflet-control-zoom {
  display: none !important;
}