/* ======================================
   MESSAGES SECTION
   ====================================== */
body {
  margin: 0;
  min-height: 100vh;

  background-image: url("../images/fond.png");
  background-repeat: no-repeat;      /* ne se répète pas */
  background-size: cover;             /* s’adapte à l’écran */
  background-position: center;        /* centrée */
  background-attachment: fixed;       /* reste fixe au scroll */
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  padding: 16px;
  overflow-y: auto;
  max-height: calc(100vh - 60px); /* prend en compte header fixe */
}

.messages h2 {
  color: var(--color-sous-title);
}

.message {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 0px;
  border-radius: 12px;

  text-decoration: none;   /* enlève le souligné */
  color: inherit;          /* garde les couleurs */
  cursor: pointer;

  transition: transform 0.2s, box-shadow 0.2s;
}

.message:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.message-photo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

.message-description h3 {
  margin: 0;
  font-weight: bold;
  color: var(--color-title);
}

.message-description p {
  margin: 2px 0 0 0;
  color: #555;
}

.btn_messages {
  display: flex;
  position: fixed;
  gap: 30px;
  bottom: 120px;
}

.btn_recherche, .btn_ecrire {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 30px 10px 10px;
  background-color: var(--color-btn-2-bg);
  border-radius: 20px;
}

.btn_ecrire {
  padding-right: 80px;
}

.btn_messages p{
  margin: 0;
}

.message1 {
  display: flex;
  margin-top: 40px;
  padding: 16px;
  align-items: center;
  gap: 30px;
}

.message1 p{
  color: var(--color-sous-title);
}

/* ======================================
   MESSAGES Léa SECTION
   ====================================== */

.conversation {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 16px;
}

.conversation p {
  text-align: center;
  margin: 0;
}

.me {
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  background-color: var(--color-btn-2-bg);
  padding: 10px 15px;
  border-radius: 15px;
  gap: 5px;
}

.me p{
  text-align: left;
  margin: 0;
}

.you {
  display: flex;
  align-self: flex-start;
  background-color: var(--color-btn-3-bg);
  color: var(--color-text);
  padding: 10px 15px;
  border-radius: 15px;
  gap: 5px;
}

.conversation  img{
  width: 20px;
  height: 20px;
}

.heure {
  font-size: 12px;
  color: #777;
  align-self: center;
}

.date {
  font-size: 12px;
  color: #2b2b2b;
  text-align: center;
}

.écrire_message {
  position: fixed;
  left: 16px;
  right: 16px;
  bottom: 120px;
  z-index: 60;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 999px;
  background-color: var(--color-bg);

  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

.écrire_message p{
  margin: 0;
}