/* ======================================
REGLAGES SECTION
====================================== */
body {
  margin: 0;
  min-height: 100vh;

  background-image: url("../images/fond.png");
  background-repeat: no-repeat; /* ne se répète pas */
  background-size: cover; /* s’adapte à l’écran */
  background-position: center; /* centrée */
  background-attachment: fixed; /* reste fixe au scroll */
}

.main-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.liste-réglage {
  display: flex;
  flex-direction: column;
}

.réglage-item {
  display: flex;
  justify-content: space-between; /* texte à gauche, flèche à droite */
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

#col1 {
  background-color: var(--color-btn-bg);
}
#col1 p{
  color: var(--color-btn-text);
}

#col2 {
  background-color: var(--color-sous-title);
}
#col2 p{
  color: var(--color-text-secondary);
}

#col3 {
  background-color: var(--color-btn-3-bg);
}

.réglage-item:last-child {
  border-bottom: none; /* pas de ligne après le dernier item */
}

.réglage-item:hover {
  background-color: #f0f0f0;
}

.réglage-item p {
  margin: 0;
  font-size: 1rem;
  color: #222;
}